{% extends "base.html" %}

{% block content %}
<!-- 404 Error Text -->
<div class="text-center">
    <div class="error mx-auto" data-text="404">500</div>
    <p class="lead text-gray-800 mb-5">Error interno del servidor</p>
    <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
    <a href="index.html">&larr; Back to Dashboard</a>
</div>
{% endblock %}