{% extends "base.html" %}
{% block content %}
<header class="pb-3 border-bottom">
    <div class="row align-items-end">
        <div class="col-md-4">
            <h1>Comments</h1>
        </div>
        <div class="col-md-6 offset-md-2">
            <p>A simple app that allows a user to input comments</p>
        </div>
    </div>
</header>

<main mt-4>
    <div class="row">
        <div class="col-md-4 comment-input">
            <p>Add Your Comment:</p>
            <div class="input-group">
                <input>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">+</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-2 comments">
            <p>This is the first comment!</p>
            <p>Here's the second one!</p>
            <p>And this is one more.</p>
            <p>Here is another one!</p>
        </div>
    </div>
</main>

<footer class="pt-3 border-top">
        <div class="col-md-6 container">
            <p>this work is released into the public domain</p>
        </div>
</footer>
{% endblock %}

