{% extends "base2.html" %}
{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    
                    <form id="registrationForm" class="user">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                    placeholder="First Name" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="exampleLastName"
                                    placeholder="Last Name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                placeholder="Email Address" required>
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control form-control-user" 
                                id="inputPhoneNumber" placeholder="Mobile Number" required>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user"
                                    id="exampleInputPassword" placeholder="Password" required>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user"
                                    id="exampleRepeatPassword" placeholder="Repeat Password" required>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-user btn-block" id="registerButton">
                            Register Account
                        </button>                        
                        <hr>
                        <a href="index.html" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Register with Google
                        </a>
                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </a>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="{{ url_for('main.forgot_password') }}">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{{ url_for('auth.login') }}">Already have an account? Login!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('registerButton').addEventListener('click', function() {
        var firstName = document.getElementById('exampleFirstName').value;
        var lastName = document.getElementById('exampleLastName').value;
        var email = document.getElementById('exampleInputEmail').value;
        var phoneNumber = document.getElementById('inputPhoneNumber').value;
        var password = document.getElementById('exampleInputPassword').value;
        var repeatPassword = document.getElementById('exampleRepeatPassword').value;

        if (!firstName || !lastName || !email || !phoneNumber || !password || !repeatPassword) {
            alert('Please fill in all required fields.');
        } else {
            // que otro
            document.getElementById('registrationForm').submit();
        }
    });
</script>

{% endblock %}
